{% extends "index.html" %}  
{% block content %}



<div id="mainHomePageBox" class="container">
  <div class="row">
    <div id="btnInboxBox" class="col">
      <form method="POST">
        <button name="btnInbox" id="btnInbox" type="submit" class="btn btn-outline-secondary">Inbox
          <i class="fab  pr-1"></i>
        </button><span class="counter counter-lg">3</span>&nbsp;&nbsp;
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button id="btnSendVideo" onclick="location.href = '{{ url_for('recordVideo') }}';" type="submit" class="btn btn-outline-secondary">Send Video</button>
    </div>
  </div>
  
</div>
    











{% endblock content %}