{% extends "index.html" %}  
{% block content %}


    
     
<div id="mainHomePageBox" class="container">
  <div class="row">
    <div id="btnInboxBox" class="col">
      <button id="btnInbox" type="button" class="btn btn-outline-secondary">Inbox
        <i class="fab  pr-1"></i>
      </button><span class="counter counter-lg">3</span>&nbsp;&nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button id="btnSendVideo" onclick="location.href = '{{ url_for('sendVideoPage') }}';" type="submit" class="btn btn-outline-secondary">Send Video</button>
    </div>
  </div>
  
</div>
    











{% endblock content %}