{% extends "index.html" %}  
{% block content %}






<dic class="container">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1>Inbox</h1>
        </div>
       
            <div class="card-body msg_card_body" style="height:800px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                {% for k,v in messages.items() %}    
                    <a id="inboxLink" href="/watchVideoMessage/s={{ v.sender_id }}%M={{ k }}">
                        <div class="row msg_container base_receive" id="inboxDiv">
                            <div class="col-md-2 col-xs-2 avatar">
                                <img  height="150px" width="auto" id="imgInbox" src="{{ v.profile_image }}" class=" img-responsive ">
                            </div>
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_receive">
                                    <h4 class="card-title">{{ v.sender_name }}</h4>
                                    <p class="card-text">Email: </p>
                                    <p class="card-text"><small class="text-muted">{{ v.created_at }}</small></p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
      
    </div>
</dic>

<!-- <div class="card-deck">
        {% for m in messages %}
            
            
            <h1>Value: {{ m.created_at }}</h1>
            
        {% endfor %}
</div> -->



{% endblock content %}

 
