{% extends "index.html" %}  
{% block content %}



<div id="fade">
<div id="modal" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
  <h5 style="color: white;" class="textModal">Sending Message</h5>
</div>


{% for r in receiver %}
    <div  class="card text-center">
      <div class="card-header">
        <h3>Send Video Message</h3>
      </div>
      <div  class="card-body">
          <img class="rounded mx-auto d-block" src="{{ url_for('static', filename='./logo/gal.gif')}}" alt="Card image">
          <h3>Send Video Message to {{ r.val().username }}?</h3>
      </div>
      <div class="card-footer text-muted">
        <div class="container">
          <div class="row">
            <div class="col">
              <form method="POST" action="">
                <button name="btnBackChooseOtherUser" type="submit" class="btn btn-dark" style="height: 50px;width: 22rem ;font-size: 30px;"><i class="fa fa-reply-all" aria-hidden="true"></i> Back</button>
              </form> 
            </div>
            <div class="col" >
              <form method="POST" action="">
                <button id="malaka" name="btnSendMessage" type="submit" class="btn btn-danger" style="height: 50px; width: 300px;font-size: 30px;">Send Message</button>
              </form>   
            </div>
          </div>
        </div>
      </div>
    </div>

{% endfor %}

<script>
  function openModal2() {
    document.getElementById('modal').style.display = 'block';
    document.getElementById('fade').style.display = 'block';
  }
  let s = document.getElementById('malaka');
  s.addEventListener("click", openModal2)
  console.log(s);
</script>

{% endblock content %}