{% extends "index.html" %}  
{% block content %}




{% for r in receiver %}
    <div  class="card text-center">
      <div class="card-header">
        <h3>Send Video Message</h3>
      </div>
      <div  class="card-body">
          <img class="rounded mx-auto d-block" src="{{ url_for('static', filename='./logo/gal.gif')}}" alt="Card image">
          <h3>Send Video Message to {{ r.val().username }}?</h3>
      </div>
      <div class="card-footer text-muted">
        <div class="container">
          <div class="row">
            <div class="col">
              <form method="POST" action="">
                <button name="btnBackChooseOtherUser" type="submit" class="btn btn-dark" style="height: 50px;width: 22rem ;font-size: 30px;"><i class="fa fa-reply-all"></i>Back</button>
              </form> 
            </div>
            <div class="col" >
              <form method="POST" action="">
                <button name="btnSendMessage" type="submit" class="btn btn-danger" style="height: 50px; width: 300px;font-size: 30px;">Send Message</button>
              </form>   
            </div>
          </div>
        </div>
      </div>
    </div>

{% endfor %}


     






{% endblock content %}